PORT=5000
NODE_ENV=development
# Clerk Authentication
CLERK_SECRET_KEY=
# API Keys (add your own locally in .env)
VOYAGE_API_KEY=
ANTHROPIC_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX=
MONGODB_URI=
MONGODB_DB_NAME=

# Collection names (optional)
COLLECTION_FEATURES=features
COLLECTION_FEEDBACKS=feedbacks
COLLECTION_INSIGHTS=insights
COLLECTION_TASKS=tasks
COLLECTION_WORKSPACES=workspaces
